<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5a56f94-35c7-4d69-af83-1fa8d776738c" Alias="svgDemo" Level="2">
  <Info>
    <Name>SVG Demo</Name>
    <Icon>icon-code color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="d690c8cb-2622-43b9-8cf9-fdca7811ee4d">headerControls</Composition>
      <Composition Key="ce869f5c-d410-4a3e-8572-9593e49101c6">mainImageControls</Composition>
      <Composition Key="9090575e-290c-4585-91a4-b72ec30ff41f">sEOControls</Composition>
      <Composition Key="7cebdc47-a965-49ec-ab42-bc887d6b1119">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bbd95947-3c7d-420a-ab61-60a2da2ae256">SVGDemo</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>67f1991e-d61d-48ea-b803-abda765d8dba</Key>
      <Name>SVG1</Name>
      <Alias>sVG1</Alias>
      <Definition>db5a6b82-57d0-407e-86be-590a179741be</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0619de9f-af44-43d9-b35c-5469337c745f</Key>
      <Name>SVG2</Name>
      <Alias>sVG2</Alias>
      <Definition>db5a6b82-57d0-407e-86be-590a179741be</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c550a0ab-3b48-460e-a922-3056e296edc3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>