@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>

<h2>our-svg</h2>
<p>
    This tag helper element our-svg will read the file contents of an SVG file and 
    output it as an inline SVG in the DOM. It can be used in one of two ways, either 
    by specifying the src attribute to a physical static file served from wwwRoot 
    or by specifying the media-item attribute to use a picked IPublishedContent Media Item.
</p>


<div style="border:2px solid red; max-width: 25vw">
    <our-svg src="/samples/partying-face.svg" ensure-viewbox="true" />
</div>

<div style="border:2px solid green; max-width: 25vw">
    <our-svg media-item="Model.Logo" ensure-viewbox="true" />
</div>

<ul>
    <li>TODO: With Cache</li>
</ul>