@using Our.Umbraco.TagHelpers.TestSite.Models
@model ContactFormViewModel

<h2>Replacement for BeginUmbracoForm</h2>
<p>
    This is to make it easier to create a HTML form that uses an Umbraco SurfaceController 
    and would be an alternative of using the Html.BeginUmbracoForm approach. 
    This taghelper runs against the form element along with these attributes our-controller
    and our-action to help generate a hidden input field of ufprt containing 
    the encoded path that this form needs to route to.
</p>

<form our-controller="ContactForm" our-action="Submit" method="post" id="testContactForm" class="form">
    <div asp-validation-summary="All"></div>

    <div class="input-group">
        <p>Name:</p>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <p>Email:</p>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <p>Message:</p>
        <textarea asp-for="Message"></textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <br/>
    <input type="submit" name="Submit" value="Submit" />
</form>