<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0c59e4c-158c-4fd4-9beb-ebe907693f1c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-08-24T19:45:00</CreateDate>
    <NodeName Default="Home">
      <Name Culture="da">Home DA</Name>
      <Name Culture="en-US">Home</Name>
      <Name Culture="es">Home ES</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-US">true</Published>
      <Published Culture="es">true</Published>
    </Published>
    <Schedule />
    <Template Key="7062a8c5-e706-4ac1-be76-dc94565f9c22">Home</Template>
  </Info>
  <Properties>
    <header>
      <Value Culture="da"><![CDATA[DA Header]]></Value>
      <Value Culture="en-US"><![CDATA[EN Header]]></Value>
      <Value Culture="es"><![CDATA[ES Header]]></Value>
    </header>
    <logo>
      <Value><![CDATA[[
  {
    "key": "b9d15d84-3728-4456-b257-ef3b64ff6ec6",
    "mediaKey": "c928617e-1f81-4586-aee4-49be07205b90",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
  </Properties>
</Content>