<?xml version="1.0" encoding="utf-8"?>
<Content Key="c455b06a-7fcc-4959-bacf-dc5e1dbc0c21" Alias="Page A" Level="2">
  <Info>
    <Parent Key="b0c59e4c-158c-4fd4-9beb-ebe907693f1c">Home</Parent>
    <Path>/Home/PageA</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-09-08T21:20:06</CreateDate>
    <NodeName Default="Page A" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="94ffc0cf-6510-4bbe-84bb-937a62fb1ec6">Page</Template>
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[Page A]]></Value>
    </header>
  </Properties>
</Content>