<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bb39e4f-d8af-4f62-8f0a-81a3b06793cf" Alias="Page CA" Level="3">
  <Info>
    <Parent Key="7066f472-898b-4422-a588-9b8aac14399d">Page C</Parent>
    <Path>/Home/PageC/PageCA</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-09-08T21:21:09</CreateDate>
    <NodeName Default="Page CA" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="94ffc0cf-6510-4bbe-84bb-937a62fb1ec6">Page</Template>
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[Page CA]]></Value>
    </header>
  </Properties>
</Content>