<?xml version="1.0" encoding="utf-8"?>
<Content Key="741e72a1-e48e-4ca3-8ecd-3c1f8a2a931e" Alias="Page B" Level="2">
  <Info>
    <Parent Key="b0c59e4c-158c-4fd4-9beb-ebe907693f1c">Home</Parent>
    <Path>/Home/PageB</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-09-08T21:20:20</CreateDate>
    <NodeName Default="Page B" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="94ffc0cf-6510-4bbe-84bb-937a62fb1ec6">Page</Template>
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[Page B header]]></Value>
    </header>
  </Properties>
</Content>