<?xml version="1.0" encoding="utf-8"?>
<Content Key="7066f472-898b-4422-a588-9b8aac14399d" Alias="Page C" Level="2">
  <Info>
    <Parent Key="b0c59e4c-158c-4fd4-9beb-ebe907693f1c">Home</Parent>
    <Path>/Home/PageC</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-09-08T21:21:01</CreateDate>
    <NodeName Default="Page C" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="94ffc0cf-6510-4bbe-84bb-937a62fb1ec6">Page</Template>
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[Page C]]></Value>
    </header>
  </Properties>
</Content>