<?xml version="1.0" encoding="utf-8"?>
<Content Key="e43f7d45-5059-4ddd-9012-1fd46d0f4ad1" Alias="Page ABC" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/PageABC</Path>
    <Trashed Parent="cb9a6afa-6fda-458e-b755-0bcda4b617ff">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2025-10-18T10:42:15</CreateDate>
    <NodeName Default="Page ABC" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="94ffc0cf-6510-4bbe-84bb-937a62fb1ec6">Page</Template>
  </Info>
  <Properties>
    <header>
      <Value><![CDATA[ABC]]></Value>
    </header>
  </Properties>
</Content>