<?xml version="1.0" encoding="utf-8"?>
<Media Key="e58ed33b-7dd9-4dec-8ee8-76232f0da3f6" Alias="ashim-d-silva-WeYamle9fDM-unsplash.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ashimDSilvaWeYamle9fDMUnsplashjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-13T22:03:44</CreateDate>
    <NodeName Default="ashim-d-silva-WeYamle9fDM-unsplash.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.301921875,
    "top": 0.250996109314208
  },
  "crops": [
    {
      "alias": "mobile",
      "width": 182,
      "height": 483,
      "coordinates": {
        "x1": 0.3952144671553982,
        "y1": 0.03397626991491126,
        "x2": 0.4657734373971755,
        "y2": 0.4126112964681263
      }
    },
    {
      "alias": "desktop",
      "width": 983,
      "height": 342,
      "coordinates": {
        "x1": 0.285917230232657,
        "y1": 0.23257624090851092,
        "x2": 0.27854195908298246,
        "y2": 0.5401301518438177
      }
    }
  ],
  "src": "/media/wqmnqu3q/ashim-d-silva-weyamle9fdm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>