<?xml version="1.0" encoding="utf-8"?>
<Media Key="c928617e-1f81-4586-aee4-49be07205b90" Alias="face-savoring-food.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faceSavoringFoodsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-08-28T17:04:41</CreateDate>
    <NodeName Default="face-savoring-food.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rtoiuk20/face-savoring-food.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>