<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cd9d921-e7d0-4c9e-b4c7-b5d00789b8f6" Alias="Single URL Picker" Level="1">
  <Info>
    <Name>Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>