<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ca6d1fb-bb47-47e4-88ce-9c3759ac50fa" Alias="SVG Media Picker" Level="1">
  <Info>
    <Name>SVG Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>