<?xml version="1.0" encoding="utf-8"?>
<DataType Key="628e983b-07d7-475f-95be-02350d07caf0" Alias="Article - Listing Image - Media Picker" Level="1">
  <Info>
    <Name>Article - Listing Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "desktop",
      "height": 150,
      "label": "Desktop",
      "width": 300
    },
    {
      "alias": "mobile",
      "height": 300,
      "label": "Mobile",
      "width": 300
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>