<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db5a6b82-57d0-407e-86be-590a179741be" Alias="Home - Image SVG - Media Picker" Level="1">
  <Info>
    <Name>Home - Image SVG - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>