<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d11ccf0c-5148-4371-9f07-973b9ec6c000" Alias="Home - Image (picture) - Media Picker" Level="1">
  <Info>
    <Name>Home - Image (picture) - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "test1",
      "height": 1,
      "label": "Test 1",
      "width": 1
    },
    {
      "alias": "test2",
      "height": 2,
      "label": "Test 2",
      "width": 1
    },
    {
      "alias": "test3",
      "height": 1,
      "label": "Test 3",
      "width": 2
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>