<?xml version="1.0" encoding="utf-8"?>
<Content Key="704a66de-b213-44fe-815a-f988c0707bbf" Alias="About" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2022-09-27T21:42:55</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full",
          "id": "073c52d6-87c6-3987-b961-ec5bc86704b3",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<p>The Clean Starter Kit for Umbraco uses the Start Bootstrap Theme Clean Blog. It has been implemented in Umbraco as a Starter Kit by Paul Seal who has the blog <a rel=\"noopener\" href=\"https://codeshare.co.uk\" target=\"_blank\">codeshare.co.uk</a> and works for the Umbraco Gold Partner <a rel=\"noopener\" href=\"https://www.moriyama.co.uk\" target=\"_blank\">Moriyama</a>.</p>\n<p>The idea of this starter kit is to provide you with a clean and simple website. It is ideally aimed at people who are new to Umbraco so they can install the starter kit, get used to Umbraco and then build upon the kit with their own requirements.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "id": 1117,
                    "udi": "umb://media/8ac2c7bc0acb488ea4e624d9ea5bdff7",
                    "image": "/media/xldnfcwl/friendly-chair.jpg",
                    "caption": "Umbraco, the friendly CMS"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "<p>With this starter kit you should be able to quickly and easily set up a new website and share your content with others. The aim is for you to start using Umbraco and fall in love with it like I did, as a user or as a developer, you will find out how enjoyable it is to use.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[umb://media/48239f24145049da9964934f512dde48]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[All about this starter kit]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>