<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2022-09-27T21:42:55</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="907d26a5-c929-4c69-bb1d-0d0d5342d6f6">home</Template>
  </Info>
  <Properties>
    <mainContent>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[umb://media/5598b628b39045328bb5dab06089e9d7]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialLinks>
      <Value><![CDATA[[
  {
    "key": "7f500796-9d5f-435d-9104-0c2ea0edd09d",
    "name": "GitHub",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "[\"Github - Brands\"]",
    "link": "[{\"name\":\"GitHub\",\"target\":\"_blank\",\"url\":\"https://github.com/prjseal\"}]"
  },
  {
    "key": "5e1a2087-3cfe-4327-a1f0-b302d3e5a227",
    "name": "View this package on Our Umbraco",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "[\"Box Open - Solid\"]",
    "link": "[{\"name\":\"View this package on Our Umbraco\",\"target\":\"_blank\",\"url\":\"https://our.umbraco.com/packages/starter-kits/clean-starter-kit/\"}]"
  },
  {
    "key": "d0fb5855-1c9a-4913-8ae6-c230dcc41f3c",
    "name": "Follow me on Twitter",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "[\"Twitter - Brands\"]",
    "link": "[{\"name\":\"Follow me on Twitter\",\"target\":\"_blank\",\"url\":\"https://twitter.com/CodeSharePaul\"}]"
  },
  {
    "key": "713f835f-20d0-4709-bd8e-770708dd5290",
    "name": "Read my blog",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "[\"Share Alt - Solid\"]",
    "link": "[{\"name\":\"Read my blog\",\"target\":\"_blank\",\"url\":\"https://codeshare.co.uk\"}]"
  },
  {
    "key": "363e4f50-412b-46c6-81ed-626b5eb6ea8c",
    "name": "Umbraco Discord Server",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "[\"Discord - Brands\"]",
    "link": "[{\"name\":\"Umbraco Discord Server\",\"target\":\"_blank\",\"url\":\"https://discord.gg/umbraco\"}]"
  },
  {
    "key": "815a6885-dbbf-46d9-a3da-bbf4b74e2d4f",
    "name": "Buy me a coffee",
    "ncContentTypeAlias": "iconLinkItem",
    "PropType": null,
    "icon": "[\"Coffee - Solid\"]",
    "link": "[{\"name\":\"Buy me a coffee\",\"target\":\"_blank\",\"url\":\"https://codeshare.co.uk/coffee\"}]"
  }
]]]></Value>
    </socialLinks>
    <subtitle>
      <Value><![CDATA[For Umbraco]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Clean Starter Kit]]></Value>
    </title>
  </Properties>
</Content>