<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a319031-7b8c-4ba8-af1c-7580a4ca13b0" Alias="SVG Demo" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/SVGDemo</Path>
    <Trashed>false</Trashed>
    <ContentType>svgDemo</ContentType>
    <CreateDate>2022-09-27T23:08:07</CreateDate>
    <NodeName Default="SVG Demo" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bbd95947-3c7d-420a-ab61-60a2da2ae256">SVGDemo</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <sVG1>
      <Value><![CDATA[[
  {
    "key": "1e31e8b5-7d7b-4a4a-9c3e-8b42c492b5fd",
    "mediaKey": "10b8aff1-d8ca-41e5-9d3f-30c691a547a7"
  }
]]]></Value>
    </sVG1>
    <sVG2>
      <Value><![CDATA[[
  {
    "key": "0a774fcd-7689-4772-877a-e94cf66f46f2",
    "mediaKey": "32224d2b-8c0d-446c-81fb-f0cf7edaaee4"
  }
]]]></Value>
    </sVG2>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>