<?xml version="1.0" encoding="utf-8"?>
<Content Key="a77cdcb6-fb23-434e-a30f-75d0003a39c3" Alias="XMLSitemap" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/XMLSitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>xMLSitemap</ContentType>
    <CreateDate>2022-09-27T21:42:55</CreateDate>
    <NodeName Default="XMLSitemap" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="72f84ac5-d043-4035-937f-2f0a99d6afbe">xMLSitemap</Template>
  </Info>
  <Properties>
    <hideFromXMLSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXMLSitemap>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>