<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54412db4-a6ce-411d-84fe-55f10d94e041" Alias="page" Level="1">
  <Info>
    <Name>Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A generic page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="94ffc0cf-6510-4bbe-84bb-937a62fb1ec6">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="54412db4-a6ce-411d-84fe-55f10d94e041" SortOrder="0">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f7958510-aca1-4b31-87d6-1d1c1f18e0bf</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>978e4ad1-00c1-43ea-a4e6-81f499798c0a</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>