<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5279cc9-c438-4b14-a57a-72f97f5527f7" Alias="Skrift at codegarden" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/SkriftAtCodegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-27T21:42:55</CreateDate>
    <NodeName Default="Skrift at codegarden" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4ocpnjy/skrift-at-codegarden.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>