<?xml version="1.0" encoding="utf-8"?>
<Media Key="10b8aff1-d8ca-41e5-9d3f-30c691a547a7" Alias="Space Invaders" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SpaceInvaders</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-27T23:01:25</CreateDate>
    <NodeName Default="Space Invaders" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ycxlqegk/space-invaders.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>