<?xml version="1.0" encoding="utf-8"?>
<Media Key="32224d2b-8c0d-446c-81fb-f0cf7edaaee4" Alias="Space Invaders Without Viewbox" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SpaceInvadersWithoutViewbox</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2022-09-27T23:01:25</CreateDate>
    <NodeName Default="Space Invaders Without Viewbox" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/djgdemqn/space-invaders-without-viewbox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>