<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b48e2695-9c93-47e3-84f0-1a64213b0812" Alias="Home" Level="0">
  <Info />
  <Translations>
    <Translation Language="da">Hjem</Translation>
    <Translation Language="en-US">Home</Translation>
    <Translation Language="es">Home ES</Translation>
  </Translations>
</Dictionary>