<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6129cd95-9bdd-4fc6-b269-3e6fa8ad21ae" Alias="Test" Level="0">
  <Info />
  <Translations>
    <Translation Language="da">Test in DK - fellback to this as no EN value set</Translation>
    <Translation Language="es">Test in ES</Translation>
  </Translations>
</Dictionary>